<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"> 
    <title>PagaTuCole - Bienvenido</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1>PagaTuCole</h1>
        </div>
        <nav>
            <a href="/public/principal">Inicio</a>
            <a href="">Mis Deudas</a>
            <a href="#">Mis Pagos</a>
            <a href="#"><img src="user-icon.png" alt="User" width="30"></a>
        </nav>
    </div>

    <div class="container">
        <h1>BIENVENIDO</h1>
        <div class="details">
            <p><strong>Alumno:</strong> Emmanuel Exequiel Ochoa Carreño</p>
            <p><strong>Colegio:</strong> I.E.P Mi Señor De Los Milagros</p>
            <p><strong>Grado:</strong> 5to Primaria</p>
            <p><strong>Sección:</strong> "A"</p>
        </div>
        <div class="avatar">
            <img src="/image/estudiante.png" alt="Avatar">
        </div>
    </div>

</body>
</html>
