<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>Iniciar Sesion</title>
</head>
<body>
<div class="contenedor-principal">
    <div class="contenido"></div>
    <div class="login">
        <form th:action="@{/login}" method="post" class="login__form">
            <h1 class="login__title">Login</h1>
            <p th:if="${param.error}">
                Nombre de usuario o contraseña invalido.</p>
            <p th:if="${param.logout}">
                Has cerrado sesion</p>
            <div class="login__content">
                <div class="login__box">
                    <i class="ri-user-3-line login__icon"></i>
                    <div class="login__box-input">
                        <input type="text" name="username" required class="login__input" id="login-email" pattern="[A-Za-z\s]+" placeholder="" onkeypress="return check(event)">
                        <label for="login-email" class="login__label">Usuario</label>
                    </div>
                </div>
                <div class="login__box">
                    <i class="ri-lock-2-line login__icon"></i>
                    <div class="login__box-input">
                        <input type="password" name="password" class="login__input" id="login-pass" placeholder="">
                        <label for="login-pass" class="login__label">Password</label>
                        <i class="ri-eye-off-line login__eye" id="login-eye"></i>
                    </div>
                </div>
            </div>
            <div class="login__check">
                <div class="login__check-group">
                    <input type="checkbox" class="login__check-input" id="remember-me"name="remember-me" >
                    <label class="login__check-label">Recuerdame</label>
                </div>
                <a href="/nopass" class="login__forgot">Olvidaste tu contraseña?</a>
            </div>

            <button type="submit" value="Log in" class="login__button">Login</button>
        </form>
    </div>
</div>

     <script src="/js/login.js"></script>
</body>
</html>